{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home Page</h1>
<a href="/logout"> Logout </a>
<!--<link rel="stylesheet" href="{% static 'style.css' %}">-->
<br>
<br>

{% for post in posts %}
<a href="#"><strong> @{{post.user}}</strong></a>
<br>
<a href="{{post.image.url}}"></a>
<br>
<img src="{{post.image.url}}">
<br>
{{post.caption}}
<br>
<a href="/like-post?post_id={{post.id}}">Like</a>
{{post.id}}
<a href="{{post.id}}/comments">Add comment</a>
{% if post.likes_count == 0 %}
<p> No likes </p>
{% elif post.likes_count == 1 %}
<p> Liked by 1 person </p>
{% else %}
<p>Liked by {{post.likes_count}} people</p>
{% endif %}
<br>
<br>
<br>
<br>

{% endfor %}
</body>
</html>